/* Adicionar aqui toda a estilização criada para sua aplicação. */
body {
    margin: 0;
    font-family: sans-serif;
}

/*HEADER INICIAL*/
.header {
    background-color: black;
    border-bottom: 3px solid #32b9cd ;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e3b062;
    width: 400px;
}

.header .container{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    /*top right bottom left*/
    padding: 0 15px;
    /* top/bottom right/left */
}

.navbar a{
    color: #e3b062;
    text-decoration: none;
}

.agora a{
    color: #e3b062;
    font-weight: bold;
}

.titulo {
    color: #32b9cd;
}

/*HEADER FIM */

/*BANNER INICIAL*/

.banner {
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BANNER FIM*/

/*FOOTER INICIO*/
.footer{
    background-color: #32b9cd;
}

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    padding: 50px 0;
    /*padding-top: 50px
    padding-bottom: 50px*/
}
/*FOOTER FIM*/

/*LOGIN INICIAL*/

.login {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 65%;
}

.card-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 10%;
}

input{
    height: 32px;
    width: 450px;
    border-radius: 10px;
    border: 2px solid aqua;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
}

h2, span{
    color: rgb(236, 88, 133);
    font-weight: bold;
}

button {
    background-color:rgb(236, 88, 133);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 26px;
}